# copy this file to .env and populate the values

# Your Sentry DSN (from your Sentry account)
VITE_SENTRY_DSN=

# Your Sentry organization (from your Sentry account)
VITE_SENTRY_ORG=

# Your Sentry project (from your Sentry account)
VITE_SENTRY_PROJECT=

# Your Sentry authentication token (from your Sentry account)
SENTRY_AUTH_TOKEN=

# Better auth config
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000" #Base URL of your app

# DATABASE_URL="postgresql://mast:@localhost:5432/nobatki"
DATABASE_URL="postgresql://postgres:password@localhost:54321/nobatki"

ELECTRIC_URL="https://localhost:5001/v1/shape"
